langchain==0.3.26
langchain-community==0.3.27
langchain-core==0.3.72
langchain-openai==0.3.28
wikipedia==1.4.0
wolframalpha==5.1.3
python-dotenv==1.1.1
requests==2.32.4
beautifulsoup4==4.13.4
tiktoken==0.9.0
typing-extensions==4.14.1
openai==1.97.1
langsmith==0.4.8
langchain-text-splitters==0.3.8